main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main section {
    width: 10%;
    height: 80%;
    background-color: azure;
    border-radius: 20px;
    padding: 1em;
}

main section div {
    width: calc(100%-1em);
    background-color: azure;
    padding: 0.5em;
    border-radius: 20px;
}

main section div img {
    width: 100%;
}

main section:nth-of-type(1) {
    background-image: url("../images/banner1.png");
    background-size: cover;
    background-position: center;
}

main section:nth-of-type(2) {
    background-image: url("../images/banner2.png");
    background-size: cover;
    background-position: center;
}

main section:nth-of-type(3) {
    background-image: url("../images/banner3.png");
    background-size: cover;
    background-position: center;
}

main section:nth-of-type(4) {
    background-image: url("../images/banner4.png");
    background-size: cover;
    background-position: center;
}

main section:nth-of-type(5) {
    background-image: url("../images/banner5.png");
    background-size: cover;
    background-position: center;
}